.logo{
    color: #343a40;
    text-decoration: none;
    font-size: 1.4rem;
    text-transform: capitalize;
    transition: .3s ease;
}

.logo:hover{
    color: #0d6efd;
} 

.logo img{
    vertical-align: middle;
    width: 10.5rem;
}

/* SUPPORT DROPDOWN LIST */

.dropdown-custom{
    position: absolute;
    inset: 12px auto auto 0px;
    margin: 0px;
    transform: translate(-135px, 31px);
}

.dropdown-item{
    padding: 20px;
}


@media screen and (max-width: 700px){
    .logo img{
        vertical-align: middle;
        width: 7.5rem;
    }
}