/* SingleVeryfyFormCSS -----------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: grid;
  /* background-color: #f8f8f8; */
}

.Dashboard-margin{
  padding: 7rem 0 0 8rem;
}

.left-margin {
  padding: 1rem 0 0 8rem;
}

.container-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}


.form-group {
  width: 30rem;
  height: 50px;
  position: relative;
  margin: 1rem 0;
}

/* .container h2{
  font-size: 1rem;
  margin-bottom: 2rem;
  background-color: #0d6efd;
  border-radius: 4px;
  padding: 7px 10px;
  width: 15rem;
  color: #fff;
} */

input {
  position: absolute;
  inset: 0;
  background-color: transparent;
  padding: 0 1rem;
  font-size: 1rem;
  outline: none;
  border: 1px solid #393e46;
  border-radius: .5rem;
  color: #000000;
}

label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  color: #393e46;
  font-size: .9rem;
  pointer-events: none;
  padding: 0 .3rem;
  background-color: #ffffff;
  transition: 200ms ease-in-out top,
    200ms ease-in-out font-size,
    200ms ease-in-out color;
}

input:focus+label,
input:valid+label {
  top: 0;
  font-size: .8rem;
  color: #393e46;
  font-weight: 500;
}

.btnCustom-1 {
  padding: .75rem 2rem;
  background-color: #393e46;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
  transition: .3s;
  margin-left: 2rem;
}

.btnCustom-1:hover {
  background-color: #0d6efd;
}


/* <!-----------------------------------> */


.card {
  width: 55rem;
  /* height: 30rem; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.card-container {
  padding: 1rem 3rem;
}

.content-table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.content-table tr td {
  padding: 3px;
  text-align: left;
  font-weight: 400;
  max-width: 200px;
  margin-left: 3rem;

}


.content-table th {
  color: #393e46;
  font-weight: bold;
  font-size: 16px;
  min-width: 160px;

}

.details-container {
  padding: 0 3rem;
}

.details h3 {
  font-size: 18px;
  margin-top: 1rem;
}

.details hr {
  border: 1px solid rgb(0, 0, 0);
  margin-top: 0;
  padding-top: 0;
}

.mx-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.mx-records h4 {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 16px;
}

.mx-records p {
  font-size: 13px;
  margin-top: -8px;
  padding-top: 0;
  line-height: 1;
}

.spf-details h4 {
  font-size: 13px;
  font-weight: 600;
}

.spf-details p {
  font-size: 13px;
  margin-top: -8px;
  padding-top: 3px;
  line-height: 1;
}

.dmarc h4 {
  font-size: 13px;
  font-weight: 600;
}

.dmarc p {
  font-size: 13px;
  margin-top: -5px;
}

.suggestion p {
  font-size: 13px;
}


/* Media Query for single verify */

@media screen and (max-width: 700px) {

  .left-margin {
    padding: 1rem 0;
  }

  .Dashboard-margin{
    padding: 0;
  }

  .container-1 {
    display: block;
    flex-direction: column;
    align-items: start;
    text-align: left;
}

  .form-group {
    width: 20rem;
    height: 40px;
  }

  .btnCustom-1 {
    margin-left: 0;
    padding: 7px 12px;
    font-size: 13px;
  }

  .left-margin-1 {
    padding: 60px 0 10px 50px;
  }

  .left-margin {
    padding: 7px 70px;
  }

  .card{
    width: 20rem;
    margin-right: 0;
  }

  .content-table{
    display: flex;
    flex-direction: column;
    text-align: left;
    /* align-items: center; */
  }

  .content-table tr td {
    padding: 6px;
    text-align: left;
    max-width: 100px;
    margin-left: 0;
  
  }

  .content-table tr td {
    max-width: 300px;
  
  }

  .card-container {
    padding: 6px 12px;
  }

  .details-container {
    padding: 0 12px;
}

.details h3 {
  font-size: 15px;
}

.mx-container {
  display: block;
  text-align: left;
  align-items: center;
}
  
}