/* SingleVeryfyFormCSS -----------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: grid;
  /* background-color: #f8f8f8; */
}


.form-group {
  width: 25rem;
  height: 50px;
  position: relative;
  margin: 1rem 0;
}

/* .container h2{
  font-size: 1rem;
  margin-bottom: 2rem;
  background-color: #0d6efd;
  border-radius: 4px;
  padding: 7px 10px;
  width: 15rem;
  color: #fff;
} */

input {
  position: absolute;
  inset: 0;
  background-color: transparent;
  padding: 0 1rem;
  font-size: 1rem;
  outline: none;
  border: 1px solid #393e46;
  border-radius: .5rem;
  color: #000000;
}

label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  color: #393e46;
  font-size: .9rem;
  pointer-events: none;
  padding: 0 .3rem;
  background-color: #ffffff;
  transition: 200ms ease-in-out top,
    200ms ease-in-out font-size,
    200ms ease-in-out color;
}

input:focus+label,
input:valid+label {
  top: 0;
  font-size: .8rem;
  color: #393e46;
  font-weight: 500;
}

.btnCustom-1 {
  padding: 0.5rem 1.5rem;
  background-color: #393e46;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
  transition: .3s;
}

.btnCustom-1:hover{
  background-color: #0d6efd;
}


/* <!-----------------------------------> */