#team-main {
    font-family: 'poppins', sans-serif;
}

.Team-margin {
    margin: 6.3rem 0 0 7.5rem;
}

#team-main .Team-container .Team-nav>a {
    font-size: 1em;
    padding: .5em 1em;
}

#team-main .Team-container form {
    margin: 2em 0;
}

.Team-nav a {
    text-decoration: none;
    color: #212529;
}

.Team-border-shadow {
    border: 1px solid #fff;
    box-shadow: 1px 3px 10px #e9ecef;
}

.Team-text-gradient {
    background-color: #242424;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Team-text-gradient i {
    font-size: 16px;
}

.Team-table {
    border-spacing: 0px;
    width: 80%;
}

.Team-table td {
    font-weight: 600px;
    letter-spacing: .4px;
}

.Team-table td,
.Team-table th {
    padding: .75em;
    vertical-align: top;
    text-align: center;
    font-weight: 400;
}

.Team-table td>a.btn {
    padding: .3em 1em;
    font-size: 1.1em;
    margin: 0 .2em;
}

.Team-table tr:hover {
    background-color: #e8e8e8;
    border-radius: 1px dashed #fff;
}

table {
    border-spacing: 0px;
    width: 100%;
}


.Team-table tr:hover td>a {
    box-shadow: none;
}

.Team-table .Team-thead-dark th {
    color: #ffffff;
    background-color: #7d7d7d;
    border-color: #32383e;
}

@media only screen and (max-width: 1024px) {

    
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #f8f9fa;
    }

    td {
        border: none;
        position: relative;
    }

}